{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %} Weeks {% endblock %}

{% block content %}
<div class="container">
  <form>
  <div class="row">
    <div class="col-sm-12">

      <h2>Plan: {{ object }}</h2>
    </div>
  </div>
  {% csrf_token %} 
  {{ form.non_field_errors }}
  
  <input type="submit" class="form-control btn btn-primary" value="Save"> 
  <hr>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Monday</h5>
        <div class="card-body">
          <p class="card-text">Mains: {{ form.mains_monday }}</p>
          <p class="card-text"> Vegies: {{ form.veg_monday }}</p>
          <p class="card-text"> Starch: {{ form.starch_monday }}</p>
          <p class="card-text"> Salad: {{ form.salad_monday }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h5 class="card-header">Tuesday</h5>
        <div class="card-body">
          <p class="card-text">Mains: {{ form.mains_tuesday }}</p>
          <p class="card-text"> Vegies: {{ form.veg_tuesday }}</p>
          <p class="card-text"> Starch: {{ form.starch_tuesday }}</p>
          <p class="card-text"> Salad: {{ form.salad_tuesday }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h5 class="card-header">Wednesday</h5>
        <div class="card-body">
          <p class="card-text">Mains: {{ form.mains_wednesday }}</p>
          <p class="card-text"> Vegies: {{ form.veg_wednesday }}</p>
          <p class="card-text"> Starch: {{ form.starch_wednesday }}</p>
          <p class="card-text"> Salad: {{ form.salad_wednesday }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h5 class="card-header">Thursday</h5>
        <div class="card-body">
          <p class="card-text">Mains: {{ form.mains_thursday }}</p>
          <p class="card-text"> Vegies: {{ form.veg_thursday }}</p>
          <p class="card-text"> Starch: {{ form.starch_thursday }}</p>
          <p class="card-text"> Salad: {{ form.salad_thursday }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h5 class="card-header">Friday</h5>
        <div class="card-body">
          <p class="card-text">Mains: {{ form.mains_friday }}</p>
          <p class="card-text"> Vegies: {{ form.veg_friday }}</p>
          <p class="card-text"> Starch: {{ form.starch_friday }}</p>
          <p class="card-text"> Salad: {{ form.salad_friday }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h5 class="card-header">Saturday</h5>
        <div class="card-body">
          <p class="card-text">Mains: {{ form.mains_saturday }}</p>
          <p class="card-text"> Vegies: {{ form.veg_saturday }}</p>
          <p class="card-text"> Starch: {{ form.starch_saturday }}</p>
          <p class="card-text"> Salad: {{ form.salad_saturday }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h5 class="card-header">Sunday</h5>
        <div class="card-body">
          <p class="card-text">Mains: {{ form.mains_sunday }}</p>
          <p class="card-text"> Vegies: {{ form.veg_sunday }}</p>
          <p class="card-text"> Starch: {{ form.starch_sunday }}</p>
          <p class="card-text"> Salad: {{ form.salad_sunday }}</p>
        </div>
      </div>
    </div>
  </div>

<!-- End Action buttons -->
</form>
</div>
<style>
  select {
    width: 100%
  }
</style>
{% endblock content %}
