{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %} Weeks {% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>Plan: {{ object }}</h2>
    </div>
  </div>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Monday</h5>
          <p class="card-text">{{ object.day_monday.mains }}</p>
          <p class="card-text">
            {% for item in monday.vegies %}
            {{ item }}
            {% endfor %}
          </p>
          <p class="card-text">
            {% for item in monday.starches %}
            {{ item }}
            {% endfor %}
          <p class="card-text">
            {% for item in monday.salad %}
            {{ item }}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tuesday</h5>
          <p class="card-text">{{ object.day_tuesday.mains }}</p>
          <p class="card-text">
            {% for item in tuesday.vegies %}
            {{ item }}
            {% endfor %}
          </p>
          <p class="card-text">
            {% for item in tuesday.starches %}
            {{ item }}
            {% endfor %}
          <p class="card-text">
            {% for item in tuesday.salad %}
            {{ item }}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Wednesday</h5>
          <p class="card-text">{{ object.day_wednesday.mains }}</p>
          <p class="card-text">
            {% for item in wednesday.vegies %}
            {{ item }}
            {% endfor %}
          </p>
          <p class="card-text">
            {% for item in wednesday.starches %}
            {{ item }}
            {% endfor %}
          <p class="card-text">
            {% for item in wednesday.salad %}
            {{ item }}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Thursday</h5>
          <p class="card-text">{{ object.day_thursday.mains }}</p>
          <p class="card-text">
            {% for item in thursday.vegies %}
            {{ item }}
            {% endfor %}
          </p>
          <p class="card-text">
            {% for item in thursday.starches %}
            {{ item }}
            {% endfor %}
          <p class="card-text">
            {% for item in thursday.salad %}
            {{ item }}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Friday</h5>
          <p class="card-text">{{ object.day_friday.mains }}</p>
          <p class="card-text">
            {% for item in friday.vegies %}
            {{ item }}
            {% endfor %}
          </p>
          <p class="card-text">
            {% for item in friday.starches %}
            {{ item }}
            {% endfor %}
          <p class="card-text">
            {% for item in friday.salad %}
            {{ item }}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Saturday</h5>
          <p class="card-text">{{ object.day_saturday.mains }}</p>
          <p class="card-text">
            {% for item in saturday.vegies %}
            {{ item }}
            {% endfor %}
          </p>
          <p class="card-text">
            {% for item in saturday.starches %}
            {{ item }}
            {% endfor %}
          <p class="card-text">
            {% for item in saturday.salad %}
            {{ item }}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sunday</h5>
          <p class="card-text">{{ object.day_sunday.mains }}</p>
          <p class="card-text">
            {% for item in sunday.vegies %}
            {{ item }} <a href="{{ item.pk }}">x</a>
            {% endfor %}
          </p>
          <p class="card-text">
            {% for item in sunday.starches %}
            {{ item }} <a href="{{ item.pk }}">x</a>
            {% endfor %}
          <p class="card-text">
            {% for item in sunday.salad %}
            {{ item }} <a href="{{ item.pk }}">x</a>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>

<!-- End Action buttons -->

</div>
{% endblock content %}
